# Data files - contains sensitive/private data
BasicNeeds/data/

# Dash scripts
BasicNeeds/dash_script/

# Old files
BasicNeeds/old/

# Charts
BasicNeeds/scripts/charts/

# Log files
*.log

# ICASA files
*ICASA*
